<h1>My website</h1>

<button (click)="makeSubjectEmit()">emit</button>


<div [ngClass]="textStyling">
  I am morphing text.
</div>

<button (click)="toggleColor()">
  change color
</button>
<button (click)="toggleFontSize()">
  change fontsize
</button>

<app-article-counter></app-article-counter>

<button id="write-article" (click)="writeArticle()">write article</button>

  <app-article
      *ngFor="let article of articlesService.articles"
      (delete)="removeArticle(article)"
      [article]="article">
  </app-article>

<div class="counter">
  <button id="counter-button" #counterButton (click)="increment()">{{ counter }}</button>
</div>

<span id="counter">{{ counter }}</span>


<button (click)="toggleMenu()">drop down</button>

<div class="menu" *ngIf="menuOpened">
  <li><a href="https://google.com">Google</a></li>
  <li><a href="https://ibm.com">IBM</a></li>
</div>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos debitis omnis ab autem quisquam molestias dolorum modi cupiditate quos temporibus. Facilis laboriosam earum nulla numquam sunt delectus quod, quam sapiente.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos debitis omnis ab autem quisquam molestias dolorum modi cupiditate quos temporibus. Facilis laboriosam earum nulla numquam sunt delectus quod, quam sapiente.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos debitis omnis ab autem quisquam molestias dolorum modi cupiditate quos temporibus. Facilis laboriosam earum nulla numquam sunt delectus quod, quam sapiente.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos debitis omnis ab autem quisquam molestias dolorum modi cupiditate quos temporibus. Facilis laboriosam earum nulla numquam sunt delectus quod, quam sapiente.
</p>
